# Environments
.env
.env.*
!.env.example
.venv
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

.vercel
