
CREATE TABLE financial_obligations (
	id UUID NOT NULL, 
	merchant_reference VARCHAR, 
	razorpay_order_id VARCHAR NOT NULL, 
	amount NUMERIC(12, 2) NOT NULL, 
	currency VARCHAR(3) NOT NULL, 
	satisfied_amount NUMERIC(12, 2) NOT NULL, 
	outstanding_amount NUMERIC(12, 2) NOT NULL, 
	status VARCHAR NOT NULL, 
	state_version INTEGER NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id)
)



CREATE TABLE razorpay_events (
	id UUID NOT NULL, 
	razorpay_event_id VARCHAR NOT NULL, 
	event_type VARCHAR NOT NULL, 
	raw_payload TEXT NOT NULL, 
	parsed_payload JSONB NOT NULL, 
	status VARCHAR NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	processed_at TIMESTAMP WITH TIME ZONE, 
	error_msg TEXT, 
	PRIMARY KEY (id)
)



CREATE TABLE obligation_state_transitions (
	id UUID NOT NULL, 
	obligation_id UUID NOT NULL, 
	previous_state VARCHAR NOT NULL, 
	new_state VARCHAR NOT NULL, 
	previous_version INTEGER NOT NULL, 
	new_version INTEGER NOT NULL, 
	triggering_event_id UUID, 
	reason VARCHAR NOT NULL, 
	source VARCHAR NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(obligation_id) REFERENCES financial_obligations (id), 
	FOREIGN KEY(triggering_event_id) REFERENCES razorpay_events (id)
)



CREATE TABLE payment_attempts (
	id UUID NOT NULL, 
	razorpay_payment_id VARCHAR NOT NULL, 
	razorpay_order_id VARCHAR NOT NULL, 
	obligation_id UUID NOT NULL, 
	amount NUMERIC(12, 2) NOT NULL, 
	currency VARCHAR(3) NOT NULL, 
	payment_method VARCHAR, 
	razorpay_status VARCHAR NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	latest_event_at TIMESTAMP WITH TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(obligation_id) REFERENCES financial_obligations (id)
)


